/* GENERAL */

body {
    background-color: #fff4d6;
}

/* HEADER */

header {
    line-height: 88px;
}

.navbar {
    padding: 0px 70px 0px 70px;
    background-color: #1C1C1C !important;
    margin-right: auto;
    margin-left: auto;
}

.nav-link {
    color: white;
    font-family: 'Great Vibes', cursive;
}

nav ul li {
    padding-right: 10px;
    padding-left: 10px;
}

nav ul li a {
    font-size: 35px;
}

nav ul li a:hover {
    color: #4c96d7 !important;
}

#imgLogo {
    width: 88px;
    height: 88px;
}

.barsMenu {
    color: white;
}

button:focus {
    outline: none;
}

/* SECTION FRONT */

section {
    min-height: 400px;
    text-align: center;
}

#sectionContentFront {
    margin-top: 100px;
    margin-bottom:30px;
}

#sectionContentFront h3 {
    font-size: 40px;
    padding: 30px 0 30px 0;
    margin-bottom: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* PAGE VIEW FRONT */

#imgAlaska1{
    width:100%;
    height: 400px;
    object-fit: cover;
}

.figure100{
    width:100%;
    position:relative;
    margin-bottom:0;
}

.figcaptionAlaska1{
    font-family: 'Great Vibes', cursive;
    text-shadow: 2px 2px 10px black;
    width: 100%;
    position:absolute;
    top:80px;
    left:0;
    color:white;
    display: block;
    text-align: center;
}

.figcaptionAlaska1 h1{
    font-size:100px;
}

.figcaptionAlaska1 h2{
    font-size:60px;
}

/* FOOTER */

footer {
    background-color: #1C1C1C;
    padding-top: 44px;
    padding-bottom: 44px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
}

footer h3 {
    font-size: 35px;
    color: #1d788c;
}

footer a {
    color: #f7f7f7;
    font-size: 22px;
}

footer a:hover {
    text-decoration-line: none;
    color: #03b568;
}

.line2 {
    height: 1px;
    width: 22%;
    background-color: #249091;
    margin: auto;
    margin-bottom: 22px;
}